@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";




@layer utilities {
  /* .bg-hero {
    
    background-image: 
    linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)),
    url('/hero-restaurant-gZD30BJF.jpg');
    background-position: center ;
    background-size: cover;
  } */




.bg-plus-pattern {
  position: relative;
  background-color: #2a1d14;
  overflow: hidden;
}

.bg-plus-pattern::before {
  content: ""; /* REQUIRED */
  position: absolute;
  inset: 0;

  background-image: url("/download.svg");
  background-repeat: repeat;
  background-size: 40px 40px;

  opacity: 0.06;
  pointer-events: none;
}
}

/* 
h1, h2, h3 {
  font-family: "Playfair Display", Georgia, serif;
}

p, button {
   font-family: "Poppins", sans-serif;
} */